[submodule "MuSkyTr3"]
	path = MuSkyTr3
	url = https://github.com/musesum/MuSkyTr3
[submodule "MuMenuSky"]
	path = MuMenuSky
	url = https://github.com/musesum/MuMenuSky
[submodule "MuFiles"]
	path = MuFiles
	url = https://github.com/musesum/MuFiles
