<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.deepmuse.snapshot</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Deep Muse</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>feed music to synthesizer</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>connect input devices and MIDI instruments</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_deepmuse-peer._tcp</string>
		<string>_deepmuse-peer._udp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>feed camera to synthesizer</string>
	<key>NSHandsTrackingUsageDescription</key>
	<string>use your hands to explore, paint, and perform</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>synchronize accross many devices: visionOS, iPadOS, iOS, and MIDI </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>locate other performers</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>feed microphone to synthesizer</string>
	<key>NSMotionUsageDescription</key>
	<string>feed motion to synthesizer</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>feed photos to synthesizer</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>navigate menu via voice commands</string>
	<key>NSWorldSensingUsageDescription</key>
	<string>World Sensing for world tracking.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UIApplicationSupportsTabbedSceneCollection</key>
		<string>UIWindowSceneSessionRoleVolumetricApplication</string>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPSceneSessionRoleImmersiveSpaceApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>ImmersiveScene</string>
					<key>UISceneConfigurationName</key>
					<string>Immersive</string>
					<key>UISceneDelegateClassName</key>
					<string>CPImmersiveSceneDelegate</string>
					<key>UISceneInitialImmersionStyle</key>
					<string>UIImmersionStyleMixed</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Deep Muse Patch</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.deepmuse.mu</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mu</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Deep Muse Script </string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.deepmuse.flo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flo</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
